html,
body {
    margin: 0;
    height: 100%;
    background-color: #e0e0e0;
}

.container {
    margin: 0;
    height: 100%;
}

header {
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
}

footer {
    background-color: rosybrown;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.content {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.plain-link {
    text-decoration: none;
    color: black;
}

.viewIndex {
    display: flex;
    justify-content: center;
}

.list-view {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.listItem {
    margin: 2%;
    width: 40%;
    background-color: rgb(132, 136, 139);
}
